body{
   margin: 0;
   
   
    font-family: "lucida grande";
    
}
.container{
    width: 1300px;
  padding: 0 15px;
  
}
header{
    height:50px;
    width:100%;
    background-color:darkslategrey;
    opacity: 0.8;
    position: fixed;
    z-index: 1;

}
.logo{

    padding:5px 15px;
    height:40px;
    
    
}
.header-left{
    float:left;
}

}
.header-right{
    color:black;
    
}
.about{
    float:right;
    text-decoration: none;
    color:darkslategrey;
    display: block;
    background-color: white;
   opacity: 0.8;
    padding:0 25px;
    line-height: 50px;
    font-weight: bolder;  
   
}

.about:hover{
opacity: 1;    
    
}
.top-wrapper{
    padding: 250px 20px 200px 30px;
   background-image: url(ashu.jpg);
  background-size: cover;
  color:white;
  text-align: left;
    margin-bottom: 0;
   
}
.top-wrapper h1,h2,p{
    
  font-size: 30px;
  letter-spacing: 1px;

    margin-top:10px;
    opacity: 0.8;
    

   
}



.message-wrapper{
    
     height: 500px;

  background-color: #f7f7f7;
  text-align: center;
  
    display: inline-block;
    width:100%;
   padding-bottom:80px;
        
 
}
.heading h2 {
  font-weight:400;
    margin-top:30px;
    font-style:normal;
    font-weight: 300;
    border-bottom: 2px solid #eee;
    color:indianred;
}
.content{
    float:left;
    display: inline-block;
   
   
}
.content img{
   width:25%;
    padding:20px 0 20px 0;
    
}

.button{
    background-color: darkgrey;
    color:white;
    padding:12px;
    text-decoration: none;
    display:inline-block;
    opacity:0.8;
    border-radius:4px;
}
.button:hover{
    opacity:1;
}

.presence{
    padding:50px;
  font-size:30px;
    height:500px;
     border-bottom: 2px solid #eee;
    text-align: center;

    
}
.presence p{
    font-size:25px;
   text-decoration: underline;
    margin-bottom:0px;
}

.btn{
    margin-top:20px;
    padding:12px 24px;
    background-color:gray;
    opacity:0.8;
    display: inline-block;
    font-weight: 300;
    border-radius:4px;
    font-weight:300;
    box-shadow: 0px 5px 5px black;
    
}
.btn:hover{
    opacity: 1;
    cursor:pointer;
}
.btn:active{
    
    box-shadow: 0px 0px 0px white;
       
}

footer{
background-color: grey;
    
}

.section-title{
    background-color:black;
    color:white;
    opacity:0.7;
}
.contact{
    padding:50px 0px 20px 50px;
    
    background-color:cadetblue;
   
}
.contact h1{
    text-decoration: underline;
    color:antiquewhite;
}

.contact li{
    color:dimgrey;
}

